/* S'assure que le conteneur principal prend toute la hauteur */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
  padding: 1rem; /* Optionnel, espace autour du contenu */
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: auto;
  border-radius: 0.75rem;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 110, 32, 1) 0%,
    rgba(255, 201, 92, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  position: relative;
}
